rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null &&
             get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.role == "admin";
    }

    function isSeller() {
      return request.auth != null &&
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "seller";
    }

    match /admins/{adminId} {
      allow read, write: if request.auth != null && request.auth.uid == adminId;
    }

    match /users/{userId} {
      allow read: if isAdmin() || request.auth.uid == userId;
      allow write: if request.auth.uid == userId || isAdmin();
    }

    match /sales/{saleId} {
      allow create: if isSeller() || isAdmin();
      allow read: if isAdmin() || isSeller();
      allow update, delete: if isAdmin();
    }

    match /offers/{offerId} {
        allow read: if isAdmin() || isSeller();
        allow write: if isAdmin();
    }

    match /dashboard/metrics {
      allow read: if isAdmin() || isSeller();
      allow write: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
